/*introduction page start*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(276deg, #FAF4F7, #EAF6E4);
}

.hed {
    padding-top: 40px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}

.logo {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.lang {
    display: flex;
    align-items: center;
    position: relative;
}

.lang:nth-child(1) {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #003254;
}

.lang:last-child {
    color: #003254;
    font-size: 16px;
    cursor: pointer;
}

.cards-main {
    display: flex;
    flex-wrap: wrap;
}

.cards-plural {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
}

.card {
    max-width: 545px;
    width: 100%;
    background: #FFFFFF;
    margin-top: 43px; 
    border-radius: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 53px;
}

.card img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 348px;
    width: 100%;
    height: 348px;
}

.card-content h3 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    padding: 40px 0 10px 0;
    color: #003254;
}

.card-content p {
    text-align: center;
    max-width: 485px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #0D3353;
    padding: 0 30px 0 30px;
}

.sign-in {
    max-width: 485px;
    width: 100%;
    padding: 30px 30px 30px 50px;
}

.sign-in a {
    display: flex;
    justify-content: center;
    color: #0D3353;
    border: 2px solid #FFA409;
    border-radius: 8px;
    text-decoration: none;
    padding: 11px 50px 10px 50px ;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.logo-dropdown {
    position: absolute;
    display: none;
    top: 15px;
    right: 2px;
    margin-top: 15px;
    background: #FFA409;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
}

.logo-dropdown.active{
    display: flex !important;
}

.logo-dropdown p:hover {
    color: #FFFFFF;
}

.logo-dropdown p {
    cursor: pointer;
}

.sign-in a:hover {
    background: #FFA409;
    color: #FFFFFF;
}
/*introduction page end*/

/*Ti Amazing home page start*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 35px;
}

.hed-middle {
    display: flex;
    flex-wrap: wrap;
}


.hed-midle ul {
    display: flex;
    gap: 35px;
    list-style: none;
}

.hed-midle a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: #003254;
}

.hed-rigth {
    max-width: 170px;
    width: 100%;
}

.hed-rigth a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    background: #FFA409;
    border-radius: 10px;
    height: 40px;
}

.left-content {
    display: flex;
    flex-flow: column wrap;
}

.left-content h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 68px;
}

.left-content  p {
    max-width: 535px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0D3353;
    padding-bottom: 48px;
}

.left-content .l-bottom {
    display: flex;
    gap: 10px;
    max-width: 152px;
    width: 100%;
    align-items: center;
    color: #FFFFFF;
    background: #FFA409;
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    height: 40px;
    cursor: pointer;
}

.left-content .l-bottom a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
}

.owl-carsel  {
    display: flex;
    align-items: center;
    min-height: 456px;
    justify-content: space-between;
}

/* .rigth-casrel {
    
} */
.home-slider .owl-dot span{
    width: 10px;
    height: 10px;
    display: block;
    background: #003254;
    border-radius: 50%;
}

.home-slider.owl-carousel .owl-dot{
    padding: 5px !important;
    border: 1px solid #003254;
    border-radius: 50%;
}

.home-slider .owl-dots{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.rigth-casrel img {
    width: 369px;
    height: 406px;
}

/*Ti Amazing home page end*/